{{>header}}

<div class="container main-content">
    {{!-- <p>{{name}}</p> --}}

    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Input field">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Location Details</h3>
        </div>
        <div class="panel-body">
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
    </div>
</div>
{{>footer}}